*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

/* Initial Setup */
section{
    padding: 0 96px;
    margin-bottom: 96px;
    text-align: center;
}
.sec-title{
    font-size: 48px;
}
.gap-between{
    margin-bottom: 32px;
}
.gap-small{
    margin-bottom: 16px;
}
.btn{
    background-color: #FF5959;
    padding: 16px 32px;
    border-radius: 8px;
    border: none;
}
.btn a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Nav Nar */
.nav-bar{
    padding: 1% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 48px;
    color: white;
}
.nav-items li{
    display: inline-block;
    list-style: none;
    margin-left: 32px;
}
.nav-items li a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}

/* Banner Sec */
.banner-sec{
    width: auto;
    height: 100vh;
    background-image: url("../Images/banner.jpg");
    background-size: cover;
}
.big-text{
    font-size: 56px;
}
.banner{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* Donate Now */
.donate-amount{
    display: flex;
    justify-content: center;
}
.donate-amount h1{
    padding: 32px 16px;
    margin: 0 16px;
    background-color: #FAFAFA;
    cursor: pointer;
}
.input-amount{
    border: none;
    padding: 8px 160px;
    border-bottom:1px dashed black ;
    text-align: center;
}

/* Donate Plan */
.plans{
    display: flex;
    justify-content: space-between;
}
.plan-items{
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.75);
    border-radius: 16px;
    padding: 32px 16px;
}

/* Blogs */
.blog-items{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.blogs-sec .first{
    text-align: left;
}
.blogs-sec .first img{
    width: 36%;
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
}
.blogs-sec .second{
    text-align: right;
}
.blogs-sec .second img{
    width: 35%;
    clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
}

/* Our Team */
.teams{
    display: flex;
    justify-content: space-between;
}
.team-member{
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 16px;
    padding: 16px;
}
.team-member img{
    clip-path: circle();
    width: 50%;
    margin-right: 16px;
}
.team-member div{
    text-align: left;
}

/* Email Subscription */
.input-email {
    display: flex;
    justify-content: center;
}
.input-btn{
    background-color: white;
    color: black;
    padding: 16px 160px 16px 32px;
    border-radius: 8px 0 0 8px;
    border: 1px solid black;
    font-weight: bold;
}
.sub-btn{
    background-color: #FF5959;
    color: white;
    padding: 16px 32px;
    border-radius: 0 8px 8px 0;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

/* Contact Form */
.contact-form{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #111;
    margin: 0;
    padding: 64px 0;
    color: white;
}
.contact-form div ul{
    display: flex;
    justify-content: center;
}
.contact-form div ul li{
    list-style: none;
    margin: 16px;
}
.contact-form .line{
    width: 1px;
    height: 280px;
    background-color: white;
}
.contact-input {
    font-weight: bold;
    border-radius: 8px;
    line-height: 24px;
    background-color: transparent;
    border:1px solid white;
    padding: 16px 128px 16px 32px;
    margin-bottom: 16px;
}
textarea {
    width: 144px;
    height: 96px;
    resize:vertical;
}
.contact-form form .btn{
    padding: 16px 128px;
    font-weight: bold;
    color: white;
}

/* Footer */
footer{
    padding: 24px 0 24px 0;
    text-align: center;
    color: white;
    background-color:black;
}
footer p a{
    text-decoration: none;
    color: white;
}